/*チェックボックスは常に非表示*/
#checkPassword {
  display: none;
}
/*テキストは隠す*/
.showText {
  display: none;
}
/*黒丸表示(パスワードとして表示)*/
.hideText {
  display: inline-block;
}
/* "表示ボタン" を表示*/
.showLabel {
  display: inline-block;
  padding: 0.1em;
  width: 50px;
  height: 22px;
  position: relative;
  top: 3px;
  border: solid 1px #000000;
  background-color: #CCCCCC;
  text-align: center;
}
/* "非表示ボタン" は隠す*/
.hideLabel {
  display: none;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき) "表示ボタン" は隠す*/
#checkPassword:checked + .togglePassword > .showLabel {
  display: none;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき) "非表示ボタン" を表示*/
#checkPassword:checked + .togglePassword > .hideLabel {
  display: inline-block;
  padding: 0.1em;
  width: 50px;
  height: 22px;
  position: relative;
  top: 3px;
  border: solid 1px #000000;
  background-color: #CCCCCC;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき)黒丸を隠す(パスワードは隠す)*/
#checkPassword:checked + .togglePassword > .hideText {
  display: none;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき)テキストを表示*/
#checkPassword:checked + .togglePassword > .showText {
  display: inline-block;
